{% extends 'sitepages/base1.html' %}
{% load static%}
{% block homepage_content %}
        <div class="about-hero-section">
            <h2>ABOUT US</h2>
        </div>

        <div class="about-content">
                <h2 style="margin-bottom: 10px;">Unlock Incredible Rewards with Staking</h2>
                <p style="margin-bottom: 10px;">Are you ready to embark on an exciting journey towards unlocking amazing rewards? With our staking platform, you have the opportunity to win incredible cash prizes, luxury cars, and dream vacations!</p>
                <h2 style="margin-bottom: 10px;">Cash Prizes</h2>
                <p style="margin-bottom: 10px;">Imagine the thrill of winning cash prizes simply by participating in our staking program. Whether you're a seasoned investor or new to the world of cryptocurrency, staking offers a lucrative opportunity to earn passive income. By staking your assets with us, you not only contribute to the security and decentralization of the network but also stand a chance to win big in our regular prize draws.</p>
                <h2 style="margin-bottom: 10px;">Luxury Cars</h2>
                <p style="margin-bottom: 10px;">Picture yourself behind the wheel of your dream car – a sleek sports car, a luxurious SUV, or perhaps a classic vintage model. With our staking platform, this dream can become a reality. As a token of appreciation for your commitment to our platform, we offer exclusive giveaways of luxury cars to our top stakers. It's not just about earning rewards; it's about living the high life and experiencing the thrill of luxury.</p>
                <h2 style="margin-bottom: 10px;">Dream Vacations</h2>
                <p style="margin-bottom: 10px;">Escape to paradise with our exclusive vacation packages, reserved for our most dedicated stakers. Whether you crave the sun-kissed beaches of the Maldives, the breathtaking landscapes of New Zealand, or the cultural riches of Europe, we've got you covered. Indulge in luxury accommodations, gourmet dining, and unforgettable experiences, all courtesy of our staking rewards program.</p>
        </div>

        <section class="testimonials">
            <h2 style="color: #7C28F2;">Testimonials</h2>
            <h2 class="services-content-2">Feedbacks from our Winners</h2>
            <div class="testimonial-slider">
                <div class="testimonial">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, veniam.</p>
                  <div style="display: flex;align-items: center;margin-top: 20px;">
                    <img src="{% static 'img/Ellipse 28.png' %}" alt="">
                    <p style="margin-left: 20px;">Smith james</p>
                </div>
                </div>
                <div class="testimonial">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, veniam.</p>
                  <div style="display: flex;align-items: center;margin-top: 20px;">
                    <img src="{% static 'img/Ellipse 29.png' %}" alt="">
                    <p style="margin-left: 20px;">Smith james</p>
                </div>
                </div>
                <div class="testimonial">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, veniam.</p>
                  <div style="display: flex;align-items: center;margin-top: 20px;">
                    <img src="{% static 'img/Ellipse 30.png' %}" alt="">
                    <p style="margin-left: 20px;">Smith james</p>
                </div>
                </div>
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, veniam.</p>
                    <div style="display: flex;align-items: center;margin-top: 20px;">
                        <img src="{% static 'img/Ellipse 28.png' %}" alt="">
                        <p style="margin-left: 20px;">Smith james</p>
                    </div>
                </div>
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, veniam.</p>
                    <div style="display: flex;align-items: center;margin-top: 20px;">
                        <img src="{% static 'img/Ellipse 29.png' %}" alt="">
                        <p style="margin-left: 20px;">Smith james</p>
                    </div>
                </div>
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, veniam.</p>
                    <div style="display: flex;align-items: center;margin-top: 20px;">
                        <img src="{% static 'img/Ellipse 30.png' %}" alt="">
                        <p style="margin-left: 20px;">Smith james</p>
                    </div>
                </div>
                <!-- Add more testimonials as needed -->
              </div>
              
        
         </section>
        
      {% endblock %}