{% extends 'sitepages/base1.html' %}
{% load static %}
{% block homepage_content %}

<style>
    .password-reset-complete-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 70vh; /* Adjust the height as needed */
        margin: 20px;
        padding: 20px;
    }
    .password-reset-complete-container h1 {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .password-reset-complete-container p {
        font-size: 16px;
    }
    .password-reset-complete-container a {
        color: #fea116;
        text-decoration: none;
    }
    .password-reset-complete-container a:hover {
        text-decoration: underline;
    }
</style>
<div class="about-hero-section">
    <h2>Password Reset Complete</h2>
</div>
<div class="password-reset-complete-container">
    <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
</div>

{% endblock %}
