{% extends 'sitepages/base1.html' %}
{% load static %}
{% block homepage_content %}

<style>
    .password-reset-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 70vh; /* Adjust the height as needed */
        margin: 20px;
        padding: 20px;
    }
    .password-reset-form-container h1 {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .password-reset-form-container form {
        max-width: 400px;
        width: 100%;
        text-align: left;
    }
    .password-reset-form-container form p {
        margin-bottom: 16px;
    }
    .password-reset-form-container label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }
    .password-reset-form-container input[type="password"],
    .password-reset-form-container input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .password-reset-form-container input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
   
    .password-reset-form-container .helptext {
        color: #888;
        font-size: 12px;
        margin-top: -10px;
    }
</style>



<div class="about-hero-section">
    <h2>Password Reset Confirm</h2>
</div>
<div class="password-reset-form-container">
    <h1 style="margin-top: 10px;">Set a new password!</h1>
<div>
  {% if validlink %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Change my password">
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
</div>

</div>



{% endblock %}